<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- <ul>
    <li *ngFor="let x of myMovies">
      <img [src]="x.Poster" alt="">
      <h2>{{x.Title}}</h2>
      <p>{{x.Year}}</p>
    </li>
  </ul> -->

  <!-- Ionic Card for our Movie Posters-->
  <ion-card *ngFor="let movie of myMovies">
    <img alt="Movie Poster" src={{movie.Poster}} /> <!-- Movie Poster-->
    <ion-card-header>
      <ion-card-title>{{movie.Title}}</ion-card-title> <!-- Movie Title Display -->
      <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle><!-- Movie Year Display -->
    </ion-card-header>
  
  </ion-card>
</ion-content>
